extends default

block content
  table.table-dark
    thead
      tr
        th
          | Id
        th 
          | Cadena
    tbody
      each i in arraycadenas
        tr.cadena
          td
            | #{i.id}
          td
            | #{i.cadena}
